<form [formGroup]="addForm">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" formControlName="stuName">
      </mat-form-field>
    </p>
    <br>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Ex. 25" formControlName="stuAge">
      </mat-form-field>
    </p>
    <br>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Section</mat-label>
        <input matInput placeholder="Ex. A" formControlName="stuSection">
      </mat-form-field>
    </p>
    <br>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Marks</mat-label>
        <input matInput placeholder="Ex. 95" formControlName="stuMarks">
      </mat-form-field>
    </p>
    <br>
    <p>
      <button type="button" (click)="add()">Submit</button>
    </p>
  </form>
  